* {
  margin: 0px;
  padding: 0px;

}


html {
  font-size: 10px;
}

body {
  background-color: rgb(182, 217, 244);
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.top {
  background-color: rgb(69, 97, 122);
  background-image: url(./images/top.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
  height: 40vh;
}

.menuSuperior {
  list-style: none;
}

.menuSuperior li {
  text-align: right;
  display: inline-block;
  padding: 1rem;
}

.title {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}