body {
    color: rgb(0, 129, 193);
}

header {
    color: rgb(127, 211, 202);
}

p {
    color: rgb(0, 157, 255)
}

li {
    color: rgb(82, 0, 158);
}

h2 {
    color: rgb(55, 0, 255);
}

.rojo {
    color: rgb(0, 59, 58);
}

footer {
    color: rgb(1, 9, 66);
}

.jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  